body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
}

h1,
p {
  color: var(--text-color);
} 
.padding-32 {
    padding-top:32px;
    padding-bottom:32px;
}

.settings {
    /* margin: 0 auto; */
    text-align:center;
    border: 1px solid;
    /* border-left:6px solid; */
    /* border-color: #2196F3; */
    /* background-color: #ddffff; */
}
.wordcloud {
    max-width: 100%;
    height: auto;
    width:auto\9;
}
.setting-item{
    padding-top:8px;
    padding-bottom:8px;
}
.center {
    text-align:center;
}
