<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Word Cloud</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/wordcloud.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/wordcloud.css')}}">
    <!-- <link rel="stylesheet" href="wordcloud.css"> -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
</head>
<body>
    <header class="center padding-header">
        <h1> 
            <b>
                News Cloud
            </b>
        </h1>
        <p>
            Welcome to Cloud9
        </p>
    </header>
    <!-- <button onclick="darkmode()">Toggle Dark Mode</button> -->
    <div class="settings">
        <div class="setting-item">
            <label for="topics">Choose a topic:</label>
            <select name="topics" id="topics" onchange="updateWordCloud()">
                <option disabled selected value>-- select an option --</option>
                <option value="gaming">gaming</option>
                <option value="politics">politics</option>
                <option value="fashion">fashion</option>
                <option value="sports">sports</option>
                <option value="covid">covid</option>
            </select>
        </div>
        <!-- <div class="setting&#45;item"> -->
        <!--     <label for="shapes">Choose a shape:</label> -->
        <!--     <select name="shapes" id="shapes" onchange="updateWordCloud()"> -->
        <!--         <option value="circle">Circle</option> -->
        <!--         <option value="square">Square</option> -->
        <!--         <option value="twitter">Twitter</option> -->
        <!--         <option value="LA Hacks">LA Hacks</option> -->
        <!--         <option value="Golden Bear">Golden Bear</option> -->
        <!--         <option value="Anteater">Anteater</option> -->
        <!--         <option value="Bruins">Bruins</option> -->
        <!--     </select> -->
        <!-- </div> -->
        <div class="setting-item">
            <label for="num-words">Word Limit (10-100):</label>
            <input type="number" id="num-words" min="10" max="100" onchange="updateWordCloud()">
        </div>
        <div class="setting-item">
            <label for="color">Color</label>
            <input type="checkbox" id="color" value="color" onchange="updateWordCloud()">
        </div>
        <div class="setting-item">
            <button style="font-size: 14px" onclick="updateWordCloud()">Generate!</button>
        </div>
    </div>
    <br/>
    <div class="center">
        <img id="wordcloudimg" src="{{url_for('static', filename='img/placeholder.jpg')}}" class="wordcloud" alt="Word Cloud Image">
        <h2 id="caption">topic</h2>
    </div>
</body>
</html>
